@import "colors";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#wrapper {
  div#container {
    h1 {
      margin: 0;
      padding: 9px 6px;
      font-size: 16px;
      font-weight: normal;
      background-color: $very_dark_cyan;
      color: $light_gray;
    }
  }
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 48px;
  background-color: $gray;
}
header {
  padding: 5px;
  background-color: $dark_cyan;
  color: $light_gray;
  span.log-mark {
    font-weight: bold;
  }
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: $dark_gray;
  color: $light_gray;
  p {
    text-align: center;
    padding: 5px;
    margin: 0;
  }
}